<footer class="footer text-muted bg-body">
    <section class="container container-fluid">
      <div class="row">
        <div class="col-lg-8 d-flex align-items-center px-4">
          <div class="w-75-lg text-center m-auto">
            <div>
              <p class="mb-1 mt-4"><small>Built with &#x2665; by</small></p>
          <p>
            <a target="blank" href="https://www.firstcoders.co.uk">
                <img
                  class="w-50 logo"
                  src="/images/logo-darkmode.png"
                  alt="First Coders Logo"
              /></a>
          </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 text-center">
          <div class="mb-1 text-muted">Links</div>
          <nav class="mb-4">
            <ul class="list-unstyled text-light">
              <li>
                <a href="/privacy">Privacy Policy</a>
              </li>
              <li>
                <a href="/terms"
                  >Terms and Conditions</a
                >
              </li>
              <li>
                <a
                  href="/docs/general/report-an-issue/"
                  target="blank"
                  >Report an issue</a
                >
              </li>
              <li>
                <a href="/docs/general/request-a-feature/">Request a feature</a>
              </li>
              <li>
                <a href="/docs/general/sponsor-this-project/">Sponsor this project</a>
              </li>
              <li>
                <a href="/docs/general/product-feedback/">Product Feedback</a>
              </li>
              <li>
                <a target="blank" href="https://stemplayer-js.com"
                  >Built using StemplayerJS</a
                >
              </li>
              <li>
                <a href="mailto:mixthat@firstcoders.co.uk"
                  >mixthat@firstcoders.co.uk</a
                >
              </li>
            </ul>
          </nav>
          <p>
            <small class="text-sm"
              >&copy; 2020 - 2025 First Coders LTD.
              All rights reserved.</small
            >
          </p>
        </div>
      </div>
    </section>
  </footer>
