{{ define "main" }}
<div class="bg-dj"></div>
<section class="section container-fluid mt-n3 pb-3 position-relative z-top mt--navbar">
    <div class="min-vh-100 d-flex align-items-center">
      <div class="w-100 text-center text-black">
        <div>
          <h1 class="text-black">{{ .Title }}</h1>
        </div>
        <div class="col-lg-9 mx-auto text-center">
          <p class="lead">{{ .Params.lead | safeHTML }}</p>
          {{/*  <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/example-guide/" role="button">{{ i18n "get_started" }}</a>  */}}
          <p>
            <a href="https://app.mixthat.co/upload"
              class="btn btn-lg me-1 border-dark btn-pulse-lg-hover text-black"
              >Build Your Player</a
            >
            <a href="/docs/quickstart/what-is-mixthat/"
              class="btn btn-lg me-1 border-dark btn-pulse-lg-hover text-black"
              >Read the Docs</a
            >
          </p>
        </div>
      </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}

{{ end }}
